# Exemplo de variáveis de ambiente para o projeto pokeDiary

# Copie este arquivo para ".env" e preencha com seus valores reais

DATABASE_URL="postgresql://user:password@localhost:5432/postgres"

SECRET_KEY="your_secret_key_here"

POSTGRES_USER="your_postgres_user"
POSTGRES_PASSWORD="your_postgres_password"

RABBITMQ_USER="your_rabbitmq_user"
RABBITMQ_PASSWORD="your_rabbitmq_password"

POKEMON_API_URL="https://pokeapi.co/api/v2/pokemon"
